# Advent of SQL
## Day 0 - The Great Christmas Analytics Crisis of 2024

The example challenge can be found here: https://adventofsql.com/challenges/example

_Find the top cities in each country (max top 3 cities for each country) with the highest average naughty_nice_score for children who received gifts, but only include cities with at least 5 children. Write them in any order below._

Note this query generates an extra city over the accepted answer, I'm not sure if the issue is with the code below, the question or the data. Both question and data appear to have been amended since the initial question version.

In [1]:
%%sql
DROP TABLE IF EXISTS ChristmasList;
DROP TABLE IF EXISTS Children;
DROP TABLE IF EXISTS Gifts;
DROP TABLE IF EXISTS Reindeer;

-- Create tables
CREATE TABLE Children (
    child_id INT,
    name VARCHAR(50),
    city VARCHAR(50),
    country VARCHAR(50),
    naughty_nice_score INT,
    letter_sent_date DATE
);

CREATE TABLE Gifts (
    gift_id INT ,
    gift_name VARCHAR(100),
    weight_kg DECIMAL(5,2),
    production_time_hours INT,
    magic_dust_required INT
);

CREATE TABLE ChristmasList (
    list_id INT ,
    child_id INT,
    gift_id INT,
    year INT,
    was_delivered BOOLEAN,
    delivery_order INT
);

CREATE TABLE Reindeer (
    reindeer_id INT,
    name VARCHAR(50),
    max_weight_capacity_kg INT,
    assigned_region VARCHAR(50)
);

-- Add more children across 10 new cities
INSERT INTO Children VALUES
-- London, UK (6 children)
(1, 'Tommy', 'London', 'UK', 95, '2023-11-15'),
(2, 'Sarah', 'London', 'UK', 88, '2023-11-14'),
(3, 'James', 'London', 'UK', 92, '2023-11-16'),
(4, 'Emma', 'London', 'UK', 85, '2023-11-15'),
(5, 'Louis', 'London', 'UK', 90, '2023-11-17'),
(6, 'Oliver', 'London', 'UK', 87, '2023-11-18'),

-- Manchester, UK (5 children)
(7, 'Harry', 'Manchester', 'UK', 91, '2023-11-15'),
(8, 'Sophie', 'Manchester', 'UK', 89, '2023-11-14'),
(9, 'William', 'Manchester', 'UK', 94, '2023-11-16'),
(10, 'Lucy', 'Manchester', 'UK', 86, '2023-11-15'),
(11, 'George', 'Manchester', 'UK', 93, '2023-11-17'),

-- Birmingham, UK (5 children)
(12, 'Charlie', 'Birmingham', 'UK', 84, '2023-11-15'),
(13, 'Emily', 'Birmingham', 'UK', 88, '2023-11-14'),
(14, 'Jack', 'Birmingham', 'UK', 92, '2023-11-16'),
(15, 'Lily', 'Birmingham', 'UK', 87, '2023-11-15'),
(16, 'Oscar', 'Birmingham', 'UK', 89, '2023-11-17'),

-- Paris, France (6 children)
(17, 'Lucas', 'Paris', 'France', 88, '2023-11-15'),
(18, 'Emma', 'Paris', 'France', 91, '2023-11-14'),
(19, 'Louis', 'Paris', 'France', 87, '2023-11-16'),
(20, 'Chloe', 'Paris', 'France', 92, '2023-11-15'),
(21, 'Hugo', 'Paris', 'France', 89, '2023-11-17'),
(22, 'Lea', 'Paris', 'France', 90, '2023-11-18'),

-- Lyon, France (5 children)
(23, 'Thomas', 'Lyon', 'France', 93, '2023-11-15'),
(24, 'Alice', 'Lyon', 'France', 88, '2023-11-14'),
(25, 'Jules', 'Lyon', 'France', 91, '2023-11-16'),
(26, 'Louise', 'Lyon', 'France', 89, '2023-11-15'),
(27, 'Gabriel', 'Lyon', 'France', 92, '2023-11-17'),

-- Berlin, Germany (6 children)
(28, 'Max', 'Berlin', 'Germany', 94, '2023-11-15'),
(29, 'Sophie', 'Berlin', 'Germany', 89, '2023-11-14'),
(30, 'Leon', 'Berlin', 'Germany', 92, '2023-11-16'),
(31, 'Emma', 'Berlin', 'Germany', 91, '2023-11-15'),
(32, 'Paul', 'Berlin', 'Germany', 88, '2023-11-17'),
(33, 'Marie', 'Berlin', 'Germany', 93, '2023-11-18'),

-- Munich, Germany (5 children)
(34, 'Felix', 'Munich', 'Germany', 90, '2023-11-15'),
(35, 'Anna', 'Munich', 'Germany', 87, '2023-11-14'),
(36, 'Lukas', 'Munich', 'Germany', 91, '2023-11-16'),
(37, 'Laura', 'Munich', 'Germany', 88, '2023-11-15'),
(38, 'David', 'Munich', 'Germany', 89, '2023-11-17'),

-- Rome, Italy (6 children)
(39, 'Marco', 'Rome', 'Italy', 95, '2023-11-15'),
(40, 'Sofia', 'Rome', 'Italy', 92, '2023-11-14'),
(41, 'Leonardo', 'Rome', 'Italy', 88, '2023-11-16'),
(42, 'Giulia', 'Rome', 'Italy', 91, '2023-11-15'),
(43, 'Alessandro', 'Rome', 'Italy', 89, '2023-11-17'),
(44, 'Valentina', 'Rome', 'Italy', 93, '2023-11-18'),

-- Milan, Italy (5 children)
(45, 'Francesco', 'Milan', 'Italy', 90, '2023-11-15'),
(46, 'Aurora', 'Milan', 'Italy', 87, '2023-11-14'),
(47, 'Lorenzo', 'Milan', 'Italy', 91, '2023-11-16'),
(48, 'Martina', 'Milan', 'Italy', 89, '2023-11-15'),
(49, 'Matteo', 'Milan', 'Italy', 88, '2023-11-17'),

-- Madrid, Spain (7 children)
(50, 'Pablo', 'Madrid', 'Spain', 93, '2023-11-15'),
(51, 'Lucia', 'Madrid', 'Spain', 90, '2023-11-14'),
(52, 'Daniel', 'Madrid', 'Spain', 88, '2023-11-16'),
(53, 'Sara', 'Madrid', 'Spain', 91, '2023-11-15'),
(54, 'Diego', 'Madrid', 'Spain', 89, '2023-11-17'),
(55, 'Carmen', 'Madrid', 'Spain', 92, '2023-11-18'),
(56, 'Javier', 'Madrid', 'Spain', 90, '2023-11-19'),

-- Barcelona, Spain (6 children)
(57, 'Marc', 'Barcelona', 'Spain', 91, '2023-11-15'),
(58, 'Ana', 'Barcelona', 'Spain', 88, '2023-11-14'),
(59, 'Carlos', 'Barcelona', 'Spain', 92, '2023-11-16'),
(60, 'Marina', 'Barcelona', 'Spain', 89, '2023-11-15'),
(61, 'Alex', 'Barcelona', 'Spain', 90, '2023-11-17'),
(62, 'Elena', 'Barcelona', 'Spain', 87, '2023-11-18'),

-- Amsterdam, Netherlands (5 children)
(63, 'Lars', 'Amsterdam', 'Netherlands', 94, '2023-11-15'),
(64, 'Eva', 'Amsterdam', 'Netherlands', 91, '2023-11-14'),
(65, 'Jan', 'Amsterdam', 'Netherlands', 89, '2023-11-16'),
(66, 'Lisa', 'Amsterdam', 'Netherlands', 92, '2023-11-15'),
(67, 'Tim', 'Amsterdam', 'Netherlands', 90, '2023-11-17'),

-- Rotterdam, Netherlands (5 children)
(68, 'Daan', 'Rotterdam', 'Netherlands', 28, '2023-11-15'),
(69, 'Sophie', 'Rotterdam', 'Netherlands', 41, '2023-11-14'),
(70, 'Thomas', 'Rotterdam', 'Netherlands', 59, '2023-11-16'),
(71, 'Anna', 'Rotterdam', 'Netherlands', 17, '2023-11-15'),
(72, 'Max', 'Rotterdam', 'Netherlands', 50, '2023-11-17');

INSERT INTO Gifts VALUES
(1, 'Toy Train', 2.5, 4, 30),
(2, 'Teddy Bear', 0.5, 2, 15),
(3, 'Bicycle', 8.0, 6, 45),
(4, 'Video Game', 0.2, 1, 10),
(5, 'Art Set', 1.0, 3, 20),
(6, 'Lego Set', 1.5, 3, 25),
(7, 'Doll House', 3.0, 5, 35),
(8, 'Robot Kit', 1.2, 4, 28),
(9, 'Board Game', 0.8, 2, 18),
(10, 'Science Kit', 1.3, 3, 22);

-- Update ChristmasList to include all children
INSERT INTO ChristmasList VALUES
(1, 1, 1, 2023, TRUE, 1),
(2, 2, 2, 2023, TRUE, 2),
(3, 3, 3, 2023, TRUE, 3),
(4, 4, 4, 2023, TRUE, 4),
(5, 5, 5, 2023, TRUE, 5),
(6, 6, 6, 2023, TRUE, 6),
(7, 7, 7, 2023, TRUE, 7),
(8, 8, 8, 2023, TRUE, 8),
(9, 9, 9, 2023, TRUE, 9),
(10, 10, 10, 2023, TRUE, 10),
(11, 11, 1, 2023, TRUE, 11),
(12, 12, 2, 2023, TRUE, 12),
(13, 13, 3, 2023, TRUE, 13),
(14, 14, 4, 2023, TRUE, 14),
(15, 15, 5, 2023, TRUE, 15),
(16, 16, 6, 2023, TRUE, 16),
(17, 17, 7, 2023, TRUE, 17),
(18, 18, 8, 2023, TRUE, 18),
(19, 19, 9, 2023, TRUE, 19),
(20, 20, 10, 2023, TRUE, 20),
(21, 21, 1, 2023, TRUE, 21),
(22, 22, 2, 2023, TRUE, 22),
(23, 23, 3, 2023, TRUE, 23),
(24, 24, 4, 2023, TRUE, 24),
(25, 25, 5, 2023, TRUE, 25),
(26, 26, 6, 2023, TRUE, 26),
(27, 27, 7, 2023, TRUE, 27),
(28, 28, 8, 2023, TRUE, 28),
(29, 29, 9, 2023, TRUE, 29),
(30, 30, 10, 2023, TRUE, 30),
(31, 31, 1, 2023, TRUE, 31),
(32, 68, 1, 2023, TRUE, 31),
(33, 69, 1, 2023, TRUE, 31),
(34, 70, 1, 2023, TRUE, 31),
(35, 71, 1, 2023, TRUE, 31),
(36, 72, 1, 2023, TRUE, 31);


INSERT INTO Reindeer VALUES
(1, 'Dasher', 500, 'Europe'),
(2, 'Dancer', 450, 'Asia'),
(3, 'Prancer', 480, 'Americas'),
(4, 'Vixen', 460, 'Europe'),
(5, 'Comet', 490, 'Asia');

StatementMeta(, 56c051f7-9575-4880-b21c-584e98664755, 13, Finished, Available, Finished)

### Step 1 Loading the Data
We have some options here, first up is simply using the SQL magic and writing SQL we could complete the challenge with this approach alone.

In [2]:
%%sql
SELECT * FROM santa_workshop.children

StatementMeta(, 56c051f7-9575-4880-b21c-584e98664755, 14, Finished, Available, Finished)

But let's embrace the world of spark a little and instead read the data into a data frame.

Saving a bit of coding I've used the load data option against the children table to automatically generate the data. then removed the LIMIT 1000 (there's fewer than 1000 lines but in other cases this will not be true).

The challenge asks us to limit counts to children who have received gifts so we'll check this via the christmaslist table

Things will get messy if we limit our SQL to one line so we use triple quotes to allow the string defining the query to run over multiple lines.

display() is a neat feature built in to fabric, it's a much better interface than most other routes to sampling data.

In [3]:
children = spark.sql("""
SELECT * FROM santa_workshop.children AS C
WHERE EXISTS
(
    SELECT *
    FROM santa_workshop.christmaslist AS L
    WHERE L.child_id = C.child_id
    AND was_delivered = 1
)
""")
display(children)

StatementMeta(, 56c051f7-9575-4880-b21c-584e98664755, 16, Finished, Available, Finished)

SynapseWidget(Synapse.DataFrame, 7f7305e6-8797-4730-b493-787a6d96c30f)

But how do we do more with the data in the data frame?

There's a few approaches, we'll start out with something we'll feel at home with as SQL users and create a temporary view.

Temporary views are exactly as described, a view that is limited to the current query session.

We can also create temporary views in an SQL statement using CREATE TEMPORARY VIEW.

In [4]:
children.createOrReplaceTempView("children")
children2 = spark.sql("SELECT * FROM children")
display(children2)

StatementMeta(, 56c051f7-9575-4880-b21c-584e98664755, 17, Finished, Available, Finished)

SynapseWidget(Synapse.DataFrame, a2e2f64b-cd3b-45e6-9885-cc9a1154cf2a)

### Step 2 Solving the Problem

We can break the challenge down to steps.

1. Group children by country and city showing count of children and average naughty_nice_score.
3. Rank cities per country by average naughty_nice_score in descending order.
3. Limit each country to the highest scoring three cities and remove those with fewer than five children with gifts.

A single SQL statement is possible but by storing results as data frames in cariables we can neaten our code and handle the results in steps.

#### Step 2.1 Grouping

I introduce a nice feature of PySpark 'GROUP BY ALL' it does what it says, grouping on every field in the select statement that isn't part of an aggregate. Try commenting out the city line and seeing how the results behave.

We'll create a temporary view for each step, there are better approaches and it would be better to combine a few steps but let's limit the new concepts to one or two per day maximum.

In [5]:
cities_grouped = spark.sql("""
SELECT 
    country
    ,city
    ,COUNT(*) AS Count_Children
    ,AVG(naughty_nice_score) AS Average_naughty_nice_score 
FROM children 
GROUP BY ALL
""")

cities_grouped.createOrReplaceTempView("cities_grouped")

display(cities_grouped)

StatementMeta(, 56c051f7-9575-4880-b21c-584e98664755, 18, Finished, Available, Finished)

SynapseWidget(Synapse.DataFrame, 11318acd-6258-4538-a3bd-7e7b4d9e4419)

#### Step 2.2 Rank the Cities
A simple WHERE clause will suffice.

In [6]:
cities_ranked = spark.sql("""
SELECT
    country
    ,city
    ,Count_Children
    ,Average_naughty_nice_score
    ,ROW_NUMBER() OVER (PARTITION BY country ORDER BY Average_naughty_nice_score DESC) AS In_Country_Rank
FROM cities_grouped
""")

cities_ranked.createOrReplaceTempView("cities_ranked")

display(cities_ranked)

StatementMeta(, 56c051f7-9575-4880-b21c-584e98664755, 19, Finished, Available, Finished)

SynapseWidget(Synapse.DataFrame, ef788e66-4397-4fed-a35c-cdbae7bcd412)

#### Step 2.3 Limit the rows

A simple WHERE clause suffices.

In [7]:
cities_limited = spark.sql("""
SELECT *
FROM cities_ranked
WHERE In_Country_Rank <= 3
AND Count_Children >= 5
""")

display(cities_limited)

StatementMeta(, 56c051f7-9575-4880-b21c-584e98664755, 20, Finished, Available, Finished)

SynapseWidget(Synapse.DataFrame, 4b62a64c-a325-42e9-8bf5-c0cf6cafc647)